---
layout: compress
---

<!DOCTYPE html>
<html lang="zh-hans">

  {% include head.html %}

  <body>

    <main class="content container">
      {{content}}
    </main>

    {% include sidebar.html %}
    <script src="{{site.baseurl}}/public/js/drawer.min.js"></script>
    <!-- <script src="{{site.baseurl}}/public/js/instantclick.min.js" data-no-instant></script> -->
    <!-- <script data-no-instant>InstantClick.init();</script> -->
    <script src="{{site.baseurl}}/public/js/hyde.js"></script>

  </body>
</html>
